.header__lang-link {
  font-size: 18px;
  line-height: 20px;
  color: white;
  margin-right: 18px;
  position: relative;
}

.header__lang-link:first-of-type:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6px;
  right: 0;
  border-bottom: solid 1px white;
}

.header__lang-link:last-of-type {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
  }
}