@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter-Regular.woff) format('woff'),
    url(../../fonts/Inter-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter-Black.woff) format('woff'),
    url(../../fonts/Inter-Black.woff2) format('woff2');
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url(../../fonts/Inter-Bold.woff) format('woff'),
    url(../../fonts/Inter-Bold.woff2) format('woff2');
  font-weight: 700;
}

.page {
  color: white;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -mos-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #2A2C2F;
}