.cover__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 16px auto 0;
  z-index: 1;
  max-width: 267px;
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
  }
}