.cover {
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  padding: 66px 0 0;
}

@media screen and (min-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    padding-top: 92px;
  }
}